<?xml version="1.0"?>
<model>
  <name>marker26_8cm</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Jordi Pages</name>
    <email>jordi.pages@pal-robotics.com</email>
  </author>

  <description>
    Aruco marker 26 of 8 cm side length
  </description>
</model>
